.search-input-submit {fill: #FFFFFF!important;}
.nav-desktop .desktop-list-subitems.list-subitems.nav-list-accordion{
background: rgb(255, 255, 255, 0.8)!important;
    backdrop-filter: blur(7px)!important;
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.6)!important;
}
/* .search-input-submit:before {
    content: "pesquisar";
    color: #FFF;
    font-size: 12px;
    position: relative;
    z-index: 9999999999;
    display: unset!important;
    left: 12px;
    top: -3px;
} */
